@charset "UTF-8";

/*   DEVISE BREAKPOINTS -> T A B L E T  */



:root{

    --green: #49a09d;
    --roxo:#5f2c82;


}

@media screen and (min-width: 768px) and (max-width:992px ) {
    body{
        background-image: linear-gradient(180deg,var(--roxo),black );
    }

    section#login{
        width:80vw;

    }
    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
        
    }
     div#formulario{
        background-color: rgba(255, 255, 255, 0.336);
        float: right;
        width: 60%;
        height: 100%;
    }
}





@media screen and (min-width: 992px ) {
      body{
        background-image: linear-gradient(180deg,var(--roxo),black );
    }

    section#login{
        
        width: 992px;
        height: 500px;
        transition: width 2s;
        
    }
    div#imagem{
        transition: 2s;
        float: right;
        width: 55%;
        height:100%;

    }
    div#formulario{
        transition: 2s;
        
        float: left;
        width: 45%;
        height: 100%;
        

    }
}